In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot

In [26]:
dataset=pd.read_csv("CKD.csv")
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset.head()
#dataset.shape

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.0,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.0,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.0,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.0,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.0,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1

In [27]:
dataset[['classification_yes']].value_counts()

classification_yes
1                     249
0                     150
Name: count, dtype: int64

In [28]:
independent=dataset[['age','bp','al','su','bgr','bu','sc','sod','pot','hrmo','pcv','wc','rc','sg_b','sg_c','sg_d','sg_e','rbc_normal','pc_normal','pcc_present','ba_present','htn_yes','dm_yes','cad_yes','appet_yes','pe_yes','ane_yes']]
dependent=dataset[['classification_yes']]

In [29]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [30]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [31]:
from sklearn.neighbors import KNeighborsClassifier
classifier=KNeighborsClassifier(n_neighbors=7,metric='minkowski',p=2)
classifier.fit(x_train,y_train)
y_pred=classifier.predict(x_test)

C:\Users\Dayana\anaconda3\Lib\site-packages\sklearn\neighbors\_classification.py:239: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [32]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print("The confusion matrix is: \n",cm)

The confusion matrix is:
 [[45  0]
 [ 6 69]]

In [33]:
from sklearn.metrics import classification_report
clf_report=classification_report(y_test,y_pred)
print("The classification report is: \n",clf_report)

The classification report is:
               precision    recall  f1-score   support

           0       0.88      1.00      0.94        45
           1       1.00      0.92      0.96        75

    accuracy                           0.95       120
   macro avg       0.94      0.96      0.95       120
weighted avg       0.96      0.95      0.95       120

In [34]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,classifier.predict_proba(x_test)[:,1])

np.float64(0.9997037037037038)

In [35]:
from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,y_pred,average='weighted')
print("The f1_macro value is:\n",f1_macro)

The f1_macro value is:
 0.9505208333333334

In [36]:
iage=int(input("Enter the Age:"))
ibp=float(input("Enter the BP:"))
ial=float(input("Enter the al value:"))
isu=float(input("Enter the su value:"))
ibgr=float(input("Enter the bgr value:"))
ibu=float(input("Enter the bu value:"))
isc=float(input("Enter the sc value:"))
isod=float(input("Enter the sod value:"))
ipot=float(input("Enter the pot value:"))
ihrmo=float(input("Enter the hrmo value:"))
ipcv=float(input("Enter the pcv value:"))
iwc=float(input("Enter the wc value:"))
irc=float(input("Enter the rc value:"))
isg_b=float(input("Enter the sg_b value:"))
isg_c=float(input("Enter the sg_c value:"))
isg_d=float(input("Enter the sg_d value:"))
isg_e=float(input("Enter the sg_e value:"))
irbc_normal=int(input("Enter the rbc value:"))
ipc_normal=int(input("Enter the pc value:"))
ipcc_present=int(input("Enter the pccc value:"))
iba_present=int(input("Enter the ba value:"))
ihtn_yes=int(input("Enter the htn value:"))
idm_yes=int(input("Enter the dm value:"))
icad_yes=int(input("Enter the cad value:"))
iappet_yes=int(input("Enter the appet value:"))
ipe_yes=int(input("Enter the pe value:"))
iane_yes=int(input("Enter the ane value:"))

Enter the Age: 37
Enter the BP: 60
Enter the al value: 0
Enter the su value: 0
Enter the bgr value: 111
Enter the bu value: 35
Enter the sc value: 0.8
Enter the sod value: 135
Enter the pot value: 4.1
Enter the hrmo value: 16.2
Enter the pcv value: 50
Enter the wc value: 5500
Enter the rc value: 5.7
Enter the sg_b value: 0
Enter the sg_c value: 0
Enter the sg_d value: 0
Enter the sg_e value: 0
Enter the rbc value: 1
Enter the pc value: 1
Enter the pccc value: 0
Enter the ba value: 0
Enter the htn value: 0
Enter the dm value: 0
Enter the cad value: 0
Enter the appet value: 1
Enter the pe value: 0
Enter the ane value: 0

In [37]:
Future_Prediction=classifier.predict([[iage,ibp,ial,isu,ibgr,ibu,isc,isod,ipot,ihrmo,ipcv,iwc,irc,isg_b,isg_c,isg_d,isg_e,irbc_normal,ipc_normal,ipcc_present,iba_present,ihtn_yes,idm_yes,icad_yes,iappet_yes,ipe_yes,iane_yes]])
print("The Future prediction is:", Future_Prediction)

The Future prediction is: [1]